<div class="card border-primary mt-5 w-100" id="education">
    <div class="card-header">
        <h4 class="card-title text-center text-dark" [innerHTML]="i18n.NAV"></h4>
    </div>
    <div class="card-body">
        <div class="row align-items-center w-100">
            <div class="col-sm m-2">
                <div class="card border-light bg-success-subtle">
                    <div class="card-body">
                        <h4 class="card-title text-dark-emphasis" [innerHTML]="i18n.UNIVERSITY.TITLE"></h4>
                        <h6 class="card-subtitle mb-2 text-muted" [innerHTML]="i18n.UNIVERSITY.PERIOD"></h6>
                        <p class="card-text" [innerHTML]="i18n.UNIVERSITY.DESCRIPTION"></p>
                    </div>
                </div>
            </div>
            <div class="col-sm m-2">
                <div class="card border-light bg-success-subtle">
                    <div class="card-body">
                        <h4 class="card-title text-dark-emphasis" [innerHTML]="i18n.SCHOOL.TITLE"></h4>
                        <h6 class="card-subtitle mb-2 text-muted" [innerHTML]="i18n.SCHOOL.PERIOD"></h6>
                        <p class="card-text" [innerHTML]="i18n.SCHOOL.DESCRIPTION"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>