<div class="card border-secondary mt-5 w-100" id="experience">
    <div class="card-header">
        <h4 class="card-title text-center text-dark" [innerHTML]="i18n.NAV"></h4>
    </div>
    <div class="card-body">
        <div class="row align-items-center">
            <div class="col-sm">
                <div class="card border-light bg-secondary-subtle">
                    <div class="card-body">
                        <h4 class="card-title text-dark-emphasis" [innerHTML]="i18n.ALL[0].TITLE"></h4>
                        <h6 class="card-subtitle mb-2 text-muted" [innerHTML]="i18n.ALL[0].PERIOD"></h6>
                        <p class="card-text" [innerHTML]="i18n.ALL[0].DESCRIPTION"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>