<div class="card border-warning mt-5 w-100" id="projects">
    <div class="card-header">
        <h4 class="card-title text-center text-dark" [innerHTML]="i18n.NAV"></h4>
    </div>
    <div class="card-body">
        <div class="row align-items-center w-100">
            <div class="col-sm m-2">
                <div class="card border-light bg-warning-subtle">
                    <div class="card-body">
                        <h4 class="card-title text-dark-emphasis" [innerHTML]="i18n.ALL[3].TITLE"></h4>
                        <h6 class="card-subtitle mb-2 text-muted" [innerHTML]="i18n.ALL[3].PERIOD"></h6>
                        <p class="card-text" [innerHTML]="i18n.ALL[3].DESCRIPTION"></p>
                    </div>
                </div>
            </div>
            <div class="col-sm m-2">
                <div class="card border-light bg-warning-subtle">
                    <div class="card-body">
                        <h4 class="card-title text-dark-emphasis" [innerHTML]="i18n.ALL[2].TITLE"></h4>
                        <h6 class="card-subtitle mb-2 text-muted" [innerHTML]="i18n.ALL[2].PERIOD"></h6>
                        <p class="card-text" [innerHTML]="i18n.ALL[2].DESCRIPTION"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row align-items-center w-100">
            <div class="col-sm m-2">
                <div class="card border-light bg-warning-subtle">
                    <div class="card-body">
                        <h4 class="card-title text-dark-emphasis" [innerHTML]="i18n.ALL[1].TITLE"></h4>
                        <h6 class="card-subtitle mb-2 text-muted" [innerHTML]="i18n.ALL[1].PERIOD"></h6>
                        <p class="card-text" [innerHTML]="i18n.ALL[1].DESCRIPTION"></p>
                    </div>
                </div>
            </div>
            <div class="col-sm m-2">
                <div class="card border-light bg-warning-subtle">
                    <div class="card-body">
                        <h4 class="card-title text-dark-emphasis" [innerHTML]="i18n.ALL[0].TITLE"></h4>
                        <h6 class="card-subtitle mb-2 text-muted" [innerHTML]="i18n.ALL[0].PERIOD"></h6>
                        <p class="card-text" [innerHTML]="i18n.ALL[0].DESCRIPTION"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>