<div class="card border-light mt-5 w-100" id="contact">
    <div class="card-header">
        <h4 class="card-title text-center text-dark" [innerHTML]="i18n.NAV"></h4>
    </div>
    <div class="card-body text-center space-between">
        <a class="btn btn-outline-dark m-3" href="https://github.com/bastos-rcd" target="_blank">
            <i class="fa-brands fa-github"></i> /bastos-rcd
        </a>
        <a class="btn btn-outline-dark m-3" href="https://www.linkedin.com/in/bastien-record/" target="_blank">
            <i class="fa-brands fa-linkedin"></i> /in/bastien-record
        </a>
        <a class="btn btn-outline-dark m-3" href="https://www.instagram.com/bastos_rcd/" target="_blank">
            <i class="fa-brands fa-instagram"></i> @bastos_rcd
        </a>
        <a class="btn btn-outline-dark m-3" href="mailto:record.bastien@gmail.com" target="_blank">
            <i class="fa-solid fa-envelope"></i> record.bastien@gmail.com
        </a>
        <a class="btn btn-outline-dark m-3" href="tel:+33643627848" target="_blank">
            <i class="fa-solid fa-phone"></i> 06 43 62 78 48
        </a>
    </div>
</div>