<div class="container-fluid">
  <app-header [i18n]="i18n" (buttonClicked)="handleButtonClick()"></app-header>

  <div class="d-flex justify-content-center vh-100">
    <ul class="list-unstyled d-flex flex-column align-items-center w-100">
      <li class="my-2 w-75">
        <app-home [i18n]="i18n.HOME"></app-home>
      </li>
      <li class="my-2 w-75">
        <app-education [i18n]="i18n.EDUCATION"></app-education>
      </li>
      <li class="my-2 w-75">
        <app-experiences [i18n]="i18n.EXPERIENCE"></app-experiences>
      </li>
      <li class="my-2 w-75">
        <app-projects [i18n]="i18n.PROJECTS"></app-projects>
      </li>
      <li class="my-2 w-75">
        <app-about [i18n]="i18n.ABOUT"></app-about>
      </li>
      <li class="my-2 w-75">
        <app-contact [i18n]="i18n.CONTACT"></app-contact>
      </li>
    </ul>
  </div>
</div>