<div class="card border-dark w-100" id="home" style="margin-top: 150px;">
    <div class="card-body text-center">
        <div class="row align-items-center">
            <div class="col-sm my-5">
                <img src="assets/self.png" class="img-thumbnail rounded-circle border-dark" style="max-width: 50%;">
            </div>
            <div class="col-sm">
                <h4 class="card-title text-dark" [innerHTML]="i18n.TITLE"></h4>
                <p class="card-text text-dark-emphasis" [innerHTML]="i18n.DESCRIPTION"></p>
            </div>
        </div>
    </div>
</div>